@model _1811061325_LeTrongNhan_BigSchool.ViewModel.CoursesViewModel
@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Attending</h2>
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<div class="row">
    <ul class="course">
        @foreach (var course in Model.UpcommingCourses)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")

                    </div>

                </div>
                <div class="detail">
                    <span class="lecture">
                        @course.Lecturer.Name
                        @if (course.IsCanceled)
                         {
                             <span class="label label-warning">Canceled</span>
                         }

                         @if (Model.ShowAction && !course.IsCanceled)
                         {
                            <button class="btn btn-link btn-sm js-toggle-follow" data--user-id="@course.Lecturer.Id">Follow</button>
                         }


                    </span>
                    <span class="category">
                        @course.Category.Name

                    </span>
                    


                </div>

            </li>
        }

    </ul>
    @section scripts{

        <script>
const { target } = require("modernizr");

          
                $(".js-toggle-follow").click(function (e) {

                    var button = $(target);
                    $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                        .done(function () {

                            button.text("Following");
                        })
                        .fail(function () {

                            alert("Something failed");

                        });

                });

            });



        </script>

    }
</div>